@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900 transition-colors duration-300;
}

.dark body {
  @apply bg-gray-900 text-white;
}
/* Disable text selection, copy, right-click */
body {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer */
  user-select: none;         /* Standard */

  -webkit-touch-callout: none; /* iOS Safari */
}

* {
  user-drag: none;
  -webkit-user-drag: none;
}

/* Disable right-click */
body {
  pointer-events: auto;
}
